@model IEnumerable<Task1._1_Feb.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <a href="Create">Creat New</a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }, new {@class="btn btn-warning"} ) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }, new {@class = "btn btn-dark" }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ProductID } , new {@class = "btn btn-danger" })*@
            <a href="@Url.Action("Delete" , "ProductsController" , new {id=item.ProductID})" class="btn btn-danger" >
                <span class="glyphicon glyphicon-remove"></span>
                Delete
            </a>
        </td>
    </tr>
}

</table>
